<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hotel Filton</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    {% if logiran %}

    <p>Pozdravljen {{ user.email() }}, {{ user.nickname() }}</p>

    <form method="post" action="/rezultat">
        <label for="ime_priimek">Ime in priimek: </label>
        <input type="text" id="ime_priimek" name="input_ime">
        <br>
        <input hidden type="text" id="e_mail" name="input_email" value="{{ user.email() }}">
        <label for="sporocilo">Vpisi svoje sporocilo: </label>
        <input type="text" id="sporocilo" name="input_sporocilo">
        <button type="submit">Poslji</button>
    </form>

    <a href="{{ logout_url }}">Odjava</a>

    {% else %}

        <p>Nisi prijavljen</p>
        <a href="{{ login_url }}">Prijava</a>

    {% endif %}

</body>
</html>